.blog {
    margin: 10px;
    padding: 10px;
    text-align: left;
    border: 1px solid $black;

    &__post {
        padding: 10px;
        width: 100%;
        margin-bottom: 10px;
        border: 1px dashed $black;

        &__instructor {
            font-weight: $ubuntu-bold;
            font-size: $large;
        }

        .social {
            display: flex;
            flex-direction: row;

            span {
                margin-right: 8px;
                i {
                    margin-left: 4px;
                }
            }
        }

        img {
            width: 100%;
            margin-bottom: 10px;
        }

        h4 {
            font-weight: $ubuntu-bold;
        }
    }
}