//colors scheme
$white: #ffffff;
$black: #000000;
$sable: #060606;
$charcoal: #2e1503;
$tangerine: #ffaf6d;
$orange: #ffa500;

//fonts
$poppins:'Poppins', sans-serif;;
$poppins-regular: 400;
$poppins-bold: 700;

$ubuntu: 'Ubuntu', sans-serif;
$ubuntu-regular: 400;
$ubuntu-bold: 700;

$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;





